<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Login</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>X</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="loginForm">
        <div fxLayout="column">
            <!-- EMAIL input-->
            <p>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required="true" placeholder="mail@email.com">

                <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                    <span *ngIf="loginForm.controls.email.errors.required">This field is required</span>
                    <span *ngIf="loginForm.controls.email.pattern">Invalid value</span>
                </mat-error>
            </mat-form-field>
            </p>

            <!-- PASSWORD input-->
            <p>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required="true" [type]="hide ? 'password': 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.errors.required">This field is required</span>
                </mat-error>
            </mat-form-field>
            </p>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button type="submit" (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)">
        Login
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        Cancel
    </button>
</mat-dialog-actions>