<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Signup</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>X</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">
            <p>
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required placeholder="John">
                <mat-error *ngIf="signupForm.controls.name.touched && signupForm.controls.name.invalid">
                    <span *nfIf="signupForm.controls.name.errors.required">This is field is required</span>
                    <span *nfIf="signupForm.controls.name.errors.pattern">This is field is invalid</span>
                </mat-error>
            </mat-form-field>
            </p>

            <p>
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required placeholder="mail@email.com">
                <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                    <span *nfIf="signupForm.controls.email.errors.required">This is field is required</span>
                    <span *nfIf="signupForm.controls.email.errors.pattern">This is field is invalid</span>
                </mat-error>
            </mat-form-field>
            </p>

            <p>
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="passowrd" required [type]="password ? 'password': 'text'">
                <button type="button" mat-icon-button matSuffix (click)="password = !password" [attr.aria-label]="'Hide Passwrod'" [attr.aria-pressed]="password">
                    <mat-icon>{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                    <span *nfIf="signupForm.controls.password.errors.required">This is field is required</span>
                </mat-error>
            </mat-form-field>
            </p>

            <p>
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="passowrd" required [type]="password ? 'password': 'text'">
                <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword" [attr.aria-label]="'Hide Passwrod'" [attr.aria-pressed]="password">
                    <mat-icon>{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid">
                    <span *nfIf="signupForm.controls.confirmPassword.errors.required">This is field is required</span>
                </mat-error>
                <mat-hint *nfIf="validateSubmit() && !(signupForm.controls.confirmPassword.invalid)">
                    <span>Passwords do not match</span>
                </mat-hint>
            </mat-form-field>
            </p>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)">
        Signup
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>